
/*------------------------------*/
.mui-slider{
	height: 7.5rem;
}
.mui-slider-group{
	height: 7.5rem;
}
.mui-slider-item img,.mui-slider img{
	height: 7.5rem;
	width: 100%;
}
.mui-slider-indicator .mui-active.mui-indicator{
	background: #F8D900;
}
.mui-slider-indicator{
	bottom: 0.72rem
}
.homesearch{
	width: 6.78rem;
	height: 0.8rem;
	margin-left: 0.36rem;
	position: relative;	
}
.hometipsearch{
	width: 5.78rem;
	height: 1.12rem;
	margin-left: 0.36rem;
	position: relative;
	top: 0.16rem;
	left: 1rem;
}
.download{
	width: 100%;
	height: 1.2rem;
	background: #1F2833;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 0 0.36rem;
	overflow: hidden;
}
.downloadclose{
	width: 0.3rem;
	height: 0.3rem;	
	background: url(../images/icon_menu_close@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0.1rem;
}
.downloadname{
	height: 0.8rem;
	float: left;
	margin-top: 0.2rem;
}
.downloadname div:nth-child(1){
	font-size: 0.28rem;
	color: #fff;
	line-height: 0.4rem;
}
.downloadname div:nth-child(2){
	font-size: 0.26rem;
	color: #fff;
	line-height: 0.4rem;
}
.downloadlogo{
	width: 0.8rem;
	height: 0.8rem;
	float: left;
	margin: 0.2rem 0.3rem 0 0.6rem;
	background: url(../images/ic_yaoqing_logo.png) no-repeat;
	background-size: 100% 100%;
}
.downloadbtn{
	float: right;
	color: #fff;
	height: 0.6rem;
	background: #00ACDC;
	width: 1.6rem;
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.28rem;
	margin-top: 0.3rem;
}
.searchback{
	height: 0.8rem;
	line-height: 0.8rem;
	width: 1.3rem;
	text-align: center;
	position: absolute;
	top:0.16rem;
	font-size: 0.32rem;
	left: 0;
}
.selectback{
	height: 0.8rem;
	line-height: 0.8rem;
	width: 1.3rem;
	text-align: center;
	position: absolute;
	top:0.24rem;
	font-size: 0.32rem;
	left: 0;
	z-index: 2;
}
#slider img{
	display: none;
}
.locadingpic{
	width: 100%;
	height: 1rem;
	position: fixed;
	left:0;
	top: 50%;
	z-index: 5;
}
.locadingpiccontent{
	width: 1rem;
	height: 1rem;
	margin: auto;
	background: url(../images/glenloading.gif) no-repeat;
	background-size: 100% 100%;
	-webkit-font-smoothing: none;
}
.homesearchcontent{
	position: absolute;
	top: -0.4rem;
	left: 0;
	z-index: 2;
}
.hometipsearchcontent{
	
}
.searchscroll{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	left: 0;
	background: #E8E8E8;
	opacity: 1;
	z-index: 10;
	transition: top 0.3s;
	-moz-transition: top 0.3s; /* Firefox 4 */
	-webkit-transition: top 0.3s ; /* Safari 和 Chrome */
	-o-transition: top 0.3s ; /* Opera */
}
.selectscroll{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	left: 0;
	background: #E8E8E8;
	opacity: 1;
	z-index: 10;
	transition: top 0.3s;
	-moz-transition: top 0.3s; /* Firefox 4 */
	-webkit-transition: top 0.3s ; /* Safari 和 Chrome */
	-o-transition: top 0.3s ; /* Opera */
}
.homesearch .searchcontent{
	width: 6.78rem;
	height: 0.8rem;
	margin: 0;
	text-align: left;
	background: #FFFFFF;
	line-height: 0.8rem;
	font-size: 0.3rem;
	color: #BDBFC2;
	padding-left: 0.36rem;
}
.hometipsearch .searchcontent{
	width: 6.78rem;
	height: 0.8rem;
	margin: 0;
	text-align: left;
	background: #FFFFFF;
	line-height: 0.8rem;
	font-size: 0.3rem;
	color: #BDBFC2;
	padding-left: 0.36rem;
}
.indexupArrow,.indexdownArrow{
	width: 0.2rem;
	height: 0.28rem;
	float: left;
	margin: 0.33rem 0.1rem 0 0;
	display: none;
}
.indexupArrow{
	background: url(../images/ic_home_rise.png) no-repeat;
	background-size: 100% 100%;
}
.indexdownArrow{
	background: url(../images/ic_home_fall.png) no-repeat;
	background-size: 100% 100%;
}
.homelisttitle{
	width: 7.5rem;
	display: flex;
	padding: 0 0.4rem;
	justify-content: space-between;
	margin: auto;
	height: 1.32rem;
	background: #fff;
}
.homelisttitle p{
	font-size: 0.36rem;
	color: #000000;
	line-height: 1.32rem;
}
.homesearch input{
	width: 6.78rem;
	height: 0.8rem;
	margin: 0;
	text-align: left;
	background: #FFFFFF;
	border-radius: 0;
}
.homesearchicon{
	width: 0.36rem;
	height: 0.36rem;
	background: url(../images/search@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.36rem;
	top: 0.22rem;
}
.mui-input-row{
	width: 100%;
	height: aoto;
	margin-top: -0.4rem;
	
}
.searchselect{
	width: 100%;
	height: aoto;
	margin-top: 0;
	position: relative;
	text-align: center;
}
.mui-input-row .select,.searchselect .select{
	display: block;
	width: 3rem;
	height: 0.8rem;
	margin: 0 auto;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
	border-radius: 0.4rem;
	border: 1px solid #BDBFC2 !important;
	background: #E8E8E8;
	line-height: 0.8rem;
	text-align: center;
	text-align-last: center;
	position: relative;
}
.mui-input-row .select .pullarrow,.searchselect .select .pullarrow{
	position: absolute;
	left: 2.4rem;
	width: 0.3rem;
	height: 0.35rem;
	top: 0.15rem;
	background: url(../images/pulldown_arrow_s@2x.png) no-repeat;
	background-size: 100% 100%;
}
.selecttips{
	width: 100%;
	position: absolute;
	background: #E8E8E8;
	left: 0;
	top: 1.04rem;
	z-index: 15;
	padding: 0.72rem 0;
	border-top: 1px solid #DBDBDB;
	display: none;
}
.selectlist li{
	width: 2rem;
	margin: auto;
	text-align: center;
	font-size: 0.3rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-bottom: 0.12rem;
}
.selecttipstitle{
	width: 2.8rem;
	margin: auto;
	height: 0.8rem;
	margin-bottom: 0.12rem;
	position: relative;
}
.selecttipstitle span{
	display: inline-block;
	position: absolute;
	background: url(../images/selected_market-on@2x.png) no-repeat;
	width: 0.24rem;
	height: 0.32rem;
	background-size: 100% 100%;
	top: 0.21rem;
	left: 0.44rem;
}
.selectactive{
	border-bottom: 2px solid #000;
}
.selecttipstitle p{
	margin: 0;
	color: #000000;
	font-size: 0.32rem;
	margin-left: 0.88rem;
	line-height: 0.8rem;
}
.mui-input-row option{
	text-align: center;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.homelist{
	border-top: 1px solid #DBDBDB;
	margin-bottom: 1.2rem;
}
.hometiplist{
	
}
.favoritelist{
	
}
.homelistcontent{
	width: 100%;
	height: 1.32rem;
	background: #fff;
	border-bottom: 1px solid #DBDBDB;
	display: block;
}
.homelistcontent img{
	width: 0.24rem;
	height: 0.32rem;
	margin-left: 0.38rem;
	margin-top: 0.52rem;
	float: left;
}
.homelistcontentleft{
	float: left;
	margin-left: 0.26rem;
	text-align: left;
}
.homelistcontentleft p{
	font-size: 0.36rem;
	height: 0.42rem;
	line-height: 0.42rem;
	color: #101315;
	margin: 0.28rem 0 0.12rem 0;
	text-align: left;
}
.homelistcontentleft span{
	color: #101315;
	font-size: 0.24rem;
	line-height: 0.24rem;
}
.homelistcontentright{
	float: right;
	margin-right: 0.36rem;
}
.homelistcontentright .rightnumber{
	display: block;
	font-size: 0.36rem;
	height: 0.42rem;
	line-height: 0.42rem;
	margin: 0.28rem 0 0.12rem 0;
	text-align: right;
	float: right;
}
.is-rising {
  color: #00ACDC !important;
}
.is-dropping {
  color: #F04A5D !important;
}
.is-risingbg{
	background: #00ACDC !important;;
}
.is-droppingbg {
  background: #F04A5D !important;
}
.rightbottom{
	margin: 0;
}
.rightpercentage{
	display: inline-block;
	width: auto;
	padding: 0 0.1rem;
	height: 0.28rem;
	background: #00ACDC;
	font-size: 0.18rem;
	color: #fff;
	padding-top: 0.04rem;
	text-align: center;
	float: right;
}
.rightprice{
	font-size: 0.24rem;
	color: #353B41;
	margin-left: 0.08rem;
	float: left;
	display: inline-block;
	height: 0.28rem;
	padding-top: 0.04rem;
}
.rightcompany{
	font-size: 0.24rem;
	color: #353B41;
	float: left;
	display: inline-block;
	height: 0.28rem;
	padding-top: 0.04rem;
}


/*-------login---------*/
.logintitle{
	font-size: 0.48rem;
	margin-top: 0.72rem;
	text-align: center;
	height: 0.56rem;
}
.googleVerification{
	position: fixed;
	top: 4rem;
	padding: 0.4rem;
	left: 0.55rem;
	width: 6.4rem;
	height: 4.8rem;
	background: #14866F;
	z-index: 10;
	display: none;
}
.googletitle{
	font-size: 0.3rem;
	color: #fff;
}
.googleclose{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../images/icon_menu_close@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.4rem;
	top: 0.3rem;
}
.googleVerification input{
	width: 5.2rem;
	border: 1px solid #fff;
	border-radius: 0;
	margin: auto;
	display: block;
	height: 0.8rem;
}
.googlesubmit{
	width: 5.2rem;
	height: 0.8rem;
	background: #00ACDC;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.3rem;
	margin: auto;
	margin-top: 0.4rem;
}
.googlecontent{
	margin: 0.5rem 0;
	line-height: 0.32rem;
	text-align: center;
	font-size: 0.28rem;
	color: #bdbfc2;
}
.emailbox{
	width: 6.8rem;
	margin: 0 auto;
	margin-top: 0.72rem;
	margin-bottom: 0.48rem;
}
.emailbox .emailtitle{
	font-size: 0.3rem;
	height: 0.36rem;
	line-height: 0.36rem;
	margin-bottom: 0.08rem;
	color: #101315;
}
.gophone{
	color: #F8D900;
}
.w_inputbox{
	border:1px solid #353B41;
	font-size: 0.32rem;
	margin: 0;
	height: 0.8rem;
	border-radius: 0;
}
.emailbox input,.passwordbox input,.passwordboxtwo input{
	font-size: 0.32rem;
	height: 0.38rem;
	margin: 0.22rem 0 0 0.24rem;
	width: 6.32rem;
	border: 0;
	padding: 0;
	border-radius: 0;
}
.phoneinputbox{
	display: flex;
}
.areacode{
	position: relative;
	width: 1.98rem;
	border-right: 1px solid #353B41;
	font-size: 0.3rem;
	color: #000;
	text-align: left;
	line-height: 0.8rem;
	padding: 0 0.2rem;	
}
.sendareacode{
	position: relative;
	width: 1.98rem;
	border: 0;
	border-radius: 0;
	background: #fff;
	outline: none;
	border-left: 1px solid #353B41;
	font-size: 0.3rem;
	color: #000;
	text-align: center;
	line-height: 0.8rem;
	padding: 0 0.2rem;
}
.sendareacode:active{
	background: #fff;
}
.areacodeicon{
	width: 0.2rem;
	height: 0.2rem;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.2rem;
	top: 0.3rem;
}
.passwordbox,.passwordboxtwo{
	width: 6.8rem;
	margin: 0 auto;
}
.passwordboxtitle{
	overflow: hidden;
}
.passwordboxtwo{
	margin-top: 0.48rem;
}
.loginpassone{
	float: left;
	font-size: 0.3rem;
	height: 0.36rem;
	line-height: 0.36rem;
	margin-bottom: 0.08rem;
	color: #101315;
}
/*--------区号选择---------*/
.areatips{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	left: 100%;
	top: 0;
	z-index: 10;
	transition: left 0.3s;
	-moz-transition: left 0.3s; /* Firefox 4 */
	-webkit-transition: left 0.3s ; /* Safari 和 Chrome */
	-o-transition: left 0.3s ; /* Opera */
}
.areatips input[type=search]{
	text-align: left;
}
.areaul{
	width: 100%;
	padding-left: 0.2rem;
}
.areaheader{
	width: 100%;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background: #E8E8E8;
	font-size: 0.32rem;
}
.areaback{
	width: 0.12rem;
    height: 0.24rem;
    background: url(../images/icon_return@2x.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0.36rem;
    top: 0.28rem;
}
.arealist{
	height: 0.8rem;
	border-bottom: 1px solid #DBDBDB;
	line-height: 0.8rem;
	font-size: 0.3rem;
	width: 100%;
}
.passwordbox .passone,.passwordboxtwo .passone{
	font-size: 0.3rem;
	height: 0.36rem;
	line-height: 0.36rem;
	margin-bottom: 0.08rem;
	color: #101315;
}
.loginpasstwo{
	float: right;
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.5rem;
	color: #F8D900;
}
.passwordbox .passtwo{
	float: right;
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.5rem;
	color: #F8D900;
}
.loginbtn{
	width: 2.4rem;
	height: 0.8rem;
	border: 0;
	border-radius: 0;
	background: #00ACDC;
	color: #fff;
	font-size: 0.4rem;
	display: block;
	margin: auto;
	margin-top: 0.72rem;
	margin-bottom: 0.92rem;
	text-align: center;
	line-height: 0.8rem;
}
.accounttitle{
	font-size: 0.28rem;
	text-align: center;
	height: 0.32rem;
	line-height: 0.32rem;
}
.gosignup{
	font-size: 0.4rem;
	color: #F8D900;
	text-align: center;
	height: 0.48rem;
	line-height: 0.48rem;
	margin: 0.12rem auto 1.2rem auto;
}
.reg_userprotocol{
	padding: 0 0.36rem;
	margin-top: 0.48rem;
	overflow: hidden;
}
.reg_userprotocol input{
	float: left;
	height:0.4rem;
	width: 0.4rem;
	display: inline-block;
	border:1px solid #353B41;
}
.reg_userprotocol p{
	float: left;
	font-size: 0.28rem;
	line-height: 0.4rem;
	margin-left: 0.16rem;
	margin-bottom: 0;
}
.reg_userprotocol p a{
	color:#F8D900;
	text-decoration: none;
}
/*---------------找回密码------------------*/
.goback{
	width: 1.16rem;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.3rem;
	margin: 0.36rem 0 0.72rem 0.36rem;
}
.retrititle{
	font-size: 0.48rem;
	text-align: center;
	height: 0.52rem;
	line-height: 0.52rem;
	margin-bottom: 0.48rem;
}
.speedofprogress{
	overflow: hidden;
	margin:0 auto;
	text-align: center;
	margin-bottom: 0.72rem;
}
.speedofprogressone{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	background: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	margin-left: 1rem;
}
.speedofprogresscomplete{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	background: url(../images/step_done@2x.png) no-repeat;
	background-size: 100% 100%;
	border: 0;
	border-radius: 50%;
	margin-left: 1rem;
}
.speedofprogresstwo{
	font-size: 0.28rem;
	line-height: 0.4rem;
	float: left;
	color: #F8D900;
	margin-left: 0.2rem;
}
.speedofprogressthree{
	font-size: 0.28rem;
	line-height: 0.25rem;
	margin:0 0.28rem;
	float: left;
	font-weight: 600;
	color: #BDBFC2;
}
.speedofprogressfour{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	background: #fff;
	border: 1px solid #BDBFC2;
	border-radius: 50%;
}
.speedofprogressfive{
	float: left;
	color: #BDBFC2;
	font-size: 0.28rem;
	line-height: 0.4rem;
	margin-left: 0.2rem;
}
.sendemail{
	font-size: 0.32rem;
	text-align: center;
	color: #101315;
}
.getcode{
	width: 2.4rem;
	height: 0.8rem;
	border: 0;
	border-radius: 0;
	background: #00ACDC;
	color: #fff;
	font-size: 0.4rem;
	display: block;
	margin: auto;
	margin-top: 0.48rem;
	margin-bottom: 0.92rem;
	line-height: 0.8rem;
	text-align: center;
}
.paragraph{
	width: 6.8rem;
	margin: auto;
	text-align: center;
	font-size: 0.32rem;
	line-height: 0.38rem;
}
.countdown{
	font-size: 0.32rem;
	text-align: center;
	margin-top: 0.48rem;
}
/*----------------邮箱激活--------------------*/
.ea_title{
	text-align: center;
	font-size: 0.48rem;
	padding-top: 1.92rem;
}
.ea_sendemail{
	text-align: center;
	font-size: 0.32rem;
	color: #101315;
	margin: 0 auto;
	margin-top: 0.72rem;
	line-height: 0.38rem;
	margin-bottom: 0.48rem;
	width: 6.8rem;
}
.ea_btn{
	font-size: 0.4rem;
	border: 0;
	text-align: center;
}
.ea_btn a{
	color: #F8D900;
}
/*--------------交易and记录-----------------*/
.orderstitle{
	font-size: 0.48rem;
	margin-top: 0.72rem;
	margin-bottom: 0.72rem;
	text-align: center;
}
.tabbox{
	padding: 0 0.36rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	border-bottom: 0.08rem solid #353B41;
	margin-top: 0.6rem;
}
.tabone , .tabtwo{
	width: 3.2rem;
	height: 1.04rem;
	text-align: center;
	line-height: 1.04rem;
	font-size: 0.32rem;
	border: 1px solid #B4B7BB;
	border-bottom: 0;
}
.tabactive{
	background: #353B41;
	border: 0;
	color: #fff;
}
.tabonecoinbox{
	height: 0.8rem;
	width: 2.4rem;
	border: 1px solid #BDBFC2;
	text-align: center;
	margin-top: 0.4rem;
	margin-right: 0.6rem;
}
.tabonetypebox{
	height: 0.8rem;
	width: 1.6rem;
	border: 1px solid #BDBFC2;
	text-align: center;
	margin-top: 0.4rem;
}
.tabonecoindiv{
	width: 100%;
	height: 1.6rem;
	background: #fff;
	margin-bottom: 0.2rem;
	display: flex;
	padding: 0 0 0 0.32rem;
}
.tabonecoinname{
	color: #000;
	line-height: 1.6rem;
	margin-right: 0.2rem;
	font-size: 0.32rem;
	opacity: 0.85;
}
.tabonecoin,.tabtwodate{
	padding: 0 0.36rem;
	height: 0.8rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: 0.24rem;
}
.tabtwocoin{
	padding: 0 0.36rem;
	height: 0.8rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin-top: 0.24rem;
	
}
.refineboxcoin{
	padding: 0 0.36rem;
	height: 1.3rem;
	padding-top: 0.25rem;
	background: #fff;
	border-bottom: 1px solid rgb(232,232,232);
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.refineboxdate{
	padding: 0 0.36rem;
	height: 1.3rem;
	padding-top: 0.25rem;
	background: #fff;
	border-bottom: 1px solid rgb(232,232,232);
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.refineboxname{
	width: 1.05rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
	
}
.refineboxall{
	height: 0.8rem;
	width: 2.68rem;
	text-align: center;
	font-size: 0.32rem;
	line-height: 0.8rem;
	border: 1px solid #B4B7BB;
}
.refineboxor{
	
	line-height: 0.8rem;
	width: 0.36rem;
	text-align: center;
}
.coinname{
	width: 1.1rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
}
.coinor{
	line-height: 0.8rem;
	text-align: center;
}
.tabonetype{
	padding: 0 0.36rem;
	height: 0.8rem;
	display: flex;
	display: -webkit-flex;
}
.refineboxtype{
	padding: 0 0.36rem;
	height: 1.3rem;
	padding-top: 0.25rem;
	background: #fff;
	border-bottom: 1px solid rgb(232,232,232);
	display: flex;
	display: -webkit-flex;
}
.refinebtn{
	width: 3rem;
	height: 0.8rem;
	font-size: 0.32rem;
	text-align: center;
	border: 1px solid #BDBFC2;
	line-height: 0.8rem;
	border-radius: 0.4rem;
	margin: auto;
	margin-top: 0.28rem;
	margin-bottom: 0.24rem;
}
.refineboxone{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	top: 0;
	z-index: 5;
	background: #E8E8E8;
	transition: left 0.3s;
	-moz-transition: left 0.3s; /* Firefox 4 */
	-webkit-transition: left 0.3s ; /* Safari 和 Chrome */
	-o-transition: left 0.3s ; /* Opera */
	
}
.refineboxonetwo{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	top: 0;
	z-index: 5;
	background: #E8E8E8;
	transition: left 0.3s;
	-moz-transition: left 0.3s; /* Firefox 4 */
	-webkit-transition: left 0.3s; /* Safari 和 Chrome */
	-o-transition: left 0.3s; /* Opera */
}
.refineboxonetitle{
	width: 100%;
	height: 1.2rem;
	text-align: center;
	font-size: 0.48rem;
	line-height: 1.2rem;
	position: relative;
}
.refineboxonegoback,.refineboxtwogoback{
	width: 0.12rem;
	height: 0.24rem;
	background: url(../images/icon_return@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0.36rem;
	top: 0.48rem;
}
.refineboxbtn{
	display: flex;
	position: absolute;
	bottom: 0.48rem;
	justify-content: center;
	width: 100%;
}
.refineboxreset{
	width: 2.4rem;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background: #fff;
	font-size: 0.32rem;
	border: 1px solid #B4B7BB;
}
.refineboxsearch{
	width: 2.4rem;
	height: 0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background: #00ACDC;
	font-size: 0.4rem;
	color: #fff;
	margin-right: 0.24rem;
}
.refineul{
	margin-bottom: 1.3rem;
}
.refineultwo{
	margin-bottom: 1.3rem;
}
.refinelist{
	border-bottom: 1px solid #DBDBDB;
	background: #fff;
	position: relative;
}
.refinelisttwo{
	border-bottom: 1px solid #DBDBDB;
	background: #fff;
	position: relative;
}
.nomore{
	line-height: 1.32rem;
	text-align: center;
	font-size: 0.32rem;
}
.refinelistcoontent{
	height: 1.32rem;
}
.refineli_date{
	float: left;
	font-size: 0.28rem;
	width: 1.5rem;
	line-height: 0.32rem;
	margin-left: 0.36rem;
	margin-top: 0.36rem;
}
.refineli_left{
	margin-left: 0.36rem;
	float: left;
	margin-top: 0.28rem;
}
.refineli_left p{
	font-size: 0.36rem;
	color: #101315;
	margin-bottom: 0.08rem;
	height: 0.42rem;
	line-height: 0.42rem;
}
.refineli_left span{
	font-size: 0.24rem;
}
#refineul .refineli_right{
	float: right;
	margin-right: 1.3rem;
	margin-top: 0.28rem;
	text-align: right;
}
#refineultwo .refineli_right{
	float: right;
	margin-right: 0.36rem;
	margin-top: 0.28rem;
	text-align: right;
}
.refineli_right .righttop{
	font-size: 0.36rem;
	color: #101315;
	line-height: 0.38rem;
}
.refineli_right p{
	font-size: 0.28rem;
	margin-top: 0.12rem;
	color: #101315;
}
.refinearrow{
	height: 0.12rem;
	width: 0.24rem;
	background: url(../images/icon_lower_arrow@2x%20.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.48rem;
	top: 0.6rem;
}
.refinearrowactive{
	height: 0.12rem;
	width: 0.24rem;
	background: url(../images/icon_up_arrow@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.48rem;
	top: 0.6rem;
	display: none;
}
.refinearrowtwo{
	height: 0.12rem;
	width: 0.24rem;
	background: url(../images/icon_lower_arrow@2x%20.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.48rem;
	top: 0.6rem;
}
.refineulcancel{
	width: 100%;
	background: rgb(232,232,232);
	height: 1.52rem;
	padding-top: 0.24rem;
	display: none;
}
.refineulcancel div{
	width: 2.4rem;
	height: 0.8rem;
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.8rem;
	background: #fff;
	border: 1px solid #B4B7BB;
	margin: auto;
}
/*---分页--*/
.historypage{
	width: 80%;
	display: flex;
	margin: auto;
	height: 0.6rem;
	justify-content: space-between;
	font-size: 0.28rem;
	margin: 0.4rem auto;
}
.historypage div{
	width: 1rem;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	height: 0.6rem;
	line-height: 0.6rem;
}
/*-----------------行情----------------------*/
.pagebottom{
	width: 100%;
	height: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
}
.bottom_buy{
	width: 50%;
	background: #00ACDC;
	text-align: center;
	line-height: 1rem;
	font-size: 0.32rem;
	color: #fff;
}
.bottom_sell{
	width: 50%;
	background: #F04A5D;
	text-align: center;
	line-height: 1rem;
	font-size: 0.32rem;
	color: #fff;
}
.choicebox{
	width: 100%;
	padding: 0.24rem 0.36rem;
	height: 1.28rem;
	display: flex;
	background: #353B41;
}
.currencychoice,.marketchoice{
	width: 3.2rem;
	height: 0.8rem;
	border: 1px solid #eee;
	color: #fff;
	font-size: 0.32rem;
	text-align: center;
	line-height: 0.8rem;
}
.choiceor{
	width: 0.36rem;
	height: 0.8rem;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
}
.favoritechoice{
	width: 0.8rem;
	height: 0.8rem;
	border: 1px solid #eee;
	margin-left: 0.26rem;
}
.favoritechoicebg{
	width: 0.25rem;
	height: 0.3rem;
	background: url(../images/selected_market-on@2x.png) no-repeat;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 0.25rem;
}
.marketinformation{
	background: #353B41;
	height: 2.06rem;
}
.marketinformationtop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.36rem;
}
.marketinformationtop_money{
	margin-left: 0.36rem;
}
.marketinformationtop_money div{
	float: left;
}

.marketinformationtop_money div:nth-child(3){
	font-size: 0.48rem;
	margin-left: 0.1rem;
	color: #fff;
	line-height: 0.52rem;
	height: 0.52rem;
	
}
.marketinformationtop_money div:nth-child(4){
	color: #fff;
	font-size: 0.32rem;
	line-height: 0.54rem;
	padding: 0 0.2rem;
	display: none;
}
.testup{
	width: 0.25rem;
	height: 0.35rem;
	margin-top: 0.08rem;
	background: url(../images/ic_home_rise.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.testdown{
	width: 0.25rem;
	height: 0.35rem;
	margin-top: 0.08rem;
	background: url(../images/ic_home_fall.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.marketinformationtop_percentage{
	width: 1.8rem;
	height: 0.52rem;
	background: #00ACDC;
	color: #fff;
	text-align: center;
	line-height: 0.52rem;
	font-size: 0.32rem;
	border-radius: 2px;
	margin-right: 0.36rem;
	
}
.LatestDeal{
	width: 100%;
	height: 1rem;
	padding: 0 0.36rem;
	color: #fff;
	line-height: 1rem;
	font-size: 0.32rem;
	background: #353B41;
}
.marketinformationbottom{
	width: 100%;
	margin-bottom: 0.36rem;
}
.marketinformationbottom div:nth-child(1),.marketinformationbottom div:nth-child(3){
	width: 50%;
	font-size: 0.28rem;
	padding-left:0.36rem;
	margin-bottom: 0.12rem;
	height: 0.28rem;
	float: left;
}
.marketinformationbottom div:nth-child(2),.marketinformationbottom div:nth-child(4){
	width: 50%;
	font-size: 0.28rem;
	padding-left:0.36rem;
	margin-bottom: 0.12rem;
	height: 0.28rem;
	float: right;
}
.marketinformationbottomtitle{
	color: #93989D;
	display: inline-block;
	margin-right: 0.12rem;
}
.Amounttitle{
	color: #93989D;
	display: inline-block;
	margin-right: 0.12rem;
	min-width: 0.9rem;
}
.highorlow{
	color: #93989D;
	display: inline-block;
	margin-right: 0.12rem;
	min-width: 1.2rem;
}
.amount,.volume{
	color: #fff;
}
.charttab{
	padding: 0 0.36rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	display: none;
}
.markettab , .depthtab{
	width: 3.2rem;
	height: 1.04rem;
	text-align: center;
	line-height: 1.04rem;
	font-size: 0.32rem;
	border-bottom: 0;
	color: #91969A;
}
.charttabactive{
	border-bottom: 2px solid #fff;
	color: #fff;
}
.depthcontent{
	width: 100%;
	height: 6.2rem;
	margin-bottom: 1.2rem;
	display: block;
}
.markecontent{
	width: 100%;
	height: auto;
}

/*--侧滑自选--*/
.favoritebox{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
	top: 0;
	z-index: 2;
	transition: left 0.3s;
	-moz-transition: left 0.3s; /* Firefox 4 */
	-webkit-transition: left 0.3s; /* Safari 和 Chrome */
	-o-transition: left 0.3s; /* Opera */
}
.buybox{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 100%;
	z-index: 3;
	background: #182027;
	transition: top 0.3s;
	-moz-transition: top 0.3s; /* Firefox 4 */
	-webkit-transition: top 0.3s; /* Safari 和 Chrome */
	-o-transition: top 0.3s; /* Opera */
}
.favoritebox .mui-scroll-wrapper,.buybox .mui-scroll-wrapper{
	top: 1.2rem;
}
.favoritetitle{
	width: 100%;
	height: 1.2rem;
	background: #E8E8E8;
	text-align: center;
	font-size: 0.48rem;
	line-height: 1.2rem;
	position: relative;
}
.buyboxtitle{
	width: 100%;
	height: 1.2rem;
	text-align: center;
	font-size: 0.48rem;
	line-height: 1.2rem;
	position: relative;
	color: #fff;
}
.buy_back{
	width: 0.48rem;
	height: 0.48rem;
	background: url(../images/icon_menu_close@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.36rem;
	top: 0.36rem;
}
.buy_btn{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.32rem;
	height: 1rem;
	line-height: 1rem;
	background: #00ACDC;
	position: absolute;
	bottom: 0;
}
.sell_btn{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.32rem;
	height: 1rem;
	line-height: 1rem;
	background: #F04A5D;
	position: absolute;
	bottom: 0;
}
.favoriteback{
	width: 0.12rem;
	height: 0.24rem;
	background: url(../images/icon_return@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0.36rem;
	top: 0.49rem;
}
.favoritescroll{
	background: #E8E8E8;
}
.availablebalance{
	width: 100%;
	padding: 0 0.36rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
	height: 0.88rem;
	background: #353B41;
}
.av_buyname{
	font-size: 0.32rem;
	line-height: 0.88rem;
	width: 2.3rem;
}
.av_balance{
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.28rem;
	margin-top: 0.36rem;
}
.av_number{
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.28rem;
	margin-top: 0.36rem;
}
.buyunitprice,.buyamount{
	display: flex;
	width: 6.78rem;
	margin: auto;
	border: 1px solid #353B41;
	margin-top: 0.4rem;
}
.maxnumber{
	width: 100%;
	padding: 0 0.36rem;
	text-align: right;
	font-size: 0.24rem;
	line-height: 0.28rem;
	height: 0.28rem;
	color: #93989D;
	margin-top: 0.08rem;
}

.buyunitprice input,.buyamount input{
	width: 4.78rem;
	margin: 0;
	height: 0.48rem;
	border-radius: 0;
	background: #182027;
	border: 0;
	color: #fff;
	font-size: 0.24rem;
}
.buyunitprice .conversion,.buyamount .conversion{
	width: 2rem;
	font-size: 0.24rem;
	text-align: center;
	color: #93989D;
	height: 0.48rem;
	line-height: 0.48rem;
}
.bestprice{
	margin-left: 0.98rem;
	font-size: 0.24rem;
	line-height: 0.28rem;
	height: 0.28rem;
	color: #93989D;
	margin-top: 0.08rem;
}
.bestprice .bestpricenumber,.maxnumbercontent{
	color: #F0D22E;
}
.ratioprogress{
	width: 100%;
	padding: 0 0.2rem;
	display: flex;
	height: 0.28rem;
	justify-content: space-between;
	margin-top: 0.2rem;
	font-size: 0.26rem;
	color: #fff;
}
.ratio{
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.28rem;
	color: #FFFFFF;
	width: 1rem;
}
.progresscontent{
	display: inline-block;
	width: 2.1rem;
	height: 0.12rem;
	background: #353B41;
	border-radius: 3px;
	position: relative;
	margin-top: 0.08rem;
}
.progressslider{
	display: inline-block;
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50% 50%;
	background: #FFFFFF;
	position: absolute;
	margin-top: -0.08rem;
	cursor: pointer;
	margin-left: -0.14rem;
	box-shadow: 0px 0px 3px #FFFFFF;
}
.speedofratioprogress{
	width: 0px;
	height: 0.12rem;
	background-color: #FFFFFF;
	border-radius: 3px;
}
.progressnumber{
	width: auto;
	text-align: center;
	font-size: 0.24rem;
	padding: 0 0.1rem;
	line-height: 0.6rem;
	height: 0.6rem;
	position: absolute;
	left: -0.3rem;
	top: -0.8rem;
	background: #000;
	color: #fff;
	display: none;
}
.buyvolume{
	font-size: 0.3rem;
	color: #FFFFFF;
	height: 0.36rem;
	line-height: 0.36rem;
	margin-top: 0.28rem;
	margin-left: 0.36rem;
}
.unknownfunction{
	font-size: 0.24rem;
	line-height: 0.28rem;
	height: 0.28rem;
	color: #fff;
	margin:0.08rem 0 0.4rem 0.36rem;
	
}
.buyorsellmarket{
	margin-bottom: 0;
	height: auto;
}
.selldepthcanvas,.buydepthcanvas{
	height: 6.2rem;
	margin-bottom: 0;
	display: none;
}
.exchangehigh{
	color: #00ACDC;
	text-align: right;
}
.exchangelow{
	color: #F04A5D;
	text-align: right;
}
/*----echart------*/
.echartcontent{
	height: 100%;
	width: 7.5rem;
	margin-bottom: 0.4rem; 
	position: relative;
}
.main {
	height: 4rem;
	padding-bottom: 0;
	border-bottom-width: 0;
}
.optiontitle {
	font-size: 0.24rem;
	color: #fff;  
	width: 6.9rem;
	text-align: right; 
	padding-left: 0.3rem;
	padding-right: 0.3rem;  
	z-index: 100000;
}
#optionmain{
	margin-top: 0.2rem;
	display: flex;
	justify-content: space-between;
}
#optionmain2{
	position: absolute;
	top:5.0rem;
	 
}
#optionmain3{
	position: absolute;
	top:7.3rem;
	 
}
#optionmain span {
	display: inline-block;
	margin-right: 0rem;
	text-align: center;
}
.echartmainone{
	height:3.5rem;
}
.echartmaintwo{
	margin-top: 0.2rem;
	height:2.3rem;
	margin-bottom: 1.2rem;
}
.echartmainthree{
	margin-top: 0.2rem;
	height:2.0rem;
}
.echartlist{
	color: #fff;
	height: 1.2rem;
	
}
.echartlist ul li{
	margin: 0.1rem 0rem;
	height: 1.0rem;
	line-height: 1.0rem;
	font-size: 0.28rem;
	text-align: center;
	width: 25%;
	display: inline-block;
}
.transactionstatus{
	width: 100%;
	padding: 0 0.2rem;
	/* height: 1.2rem; */
	display: flex;
	justify-content: space-between;
	background: #353B41;
}
.transactionstatusselect{
	width: 2.68rem;
	height: 0.8rem;
	color: #93989D;
	background: #182027;
	margin-top: 0.2rem;
	position: relative;
}
.transactionstatusselect select{
	color: #93989D;
	background: #182027;
	border-radius: 0;
	outline: none;
	border: none;
}
.transactionstatusselectarrow{
	width: 0.24rem;
	height: 0.25rem;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.22rem;
	top: 0.32rem;
}
.buyingandselling div{
	width: 0.4rem;
	height: 0.4rem;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.4rem;
}
.buyingandsellingone{
	background: url(../images/price_bottom@2x.png) no-repeat;
	background-size: 100% 100%;
}
.buyingandsellingtwo{
	background: url(../images/price_middle@2x.png) no-repeat;
	background-size: 100% 100%;
}
.buyingandsellingthree{
	background: url(../images/price_top@2x.png) no-repeat;
	background-size: 100% 100%;
}
.buyingandsellinglisttitle{
	width: 100%;
	padding: 0 0.4rem;
	display: flex;
	justify-content: space-between;
	height: 0.64rem;
	line-height: 0.64rem;
	font-size: 0.28rem;
	color: #93989D;
}
.sellul,.buyul{
	width: 100%;
	padding: 0 0.4rem;
}
.selllist,.buylist{
	width: 100%;
	font-size: 0.28rem;
	height: 0.32rem;
	margin-bottom: 0.06rem;
	color: #FFFFFF;
	line-height: 0.32rem;
	overflow: hidden;
}
.buyamounts{
	display: block;
	text-align: center;
	float: left;
	width: 2.23rem;
}
.historyamounts{
	float: left;
	display: block;
	width: 2.23rem;
}
.selllist .selllistnumber{
	color: #F04A5D;
	float: left;
	display: block;
	width: 2.23rem;
}
.buyvomone{
	float: right;
}
.buylist .buylistnumber{
	color: #00ACDC;
	float: left;
	display: block;
	width: 2.23rem;
}
.buyingandsellexchangerate{
	width: 100%;
	text-align: center;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #fff;
	background: #353B41;
	font-size: 0.26rem;
	position: relative;
	margin-bottom: 0.2rem;
}
.buyingandsellexchangerateprice{
	font-size: 0.3rem;
}
.buyingandsellexchangerateicon{
	width: 0.28rem;
	height: 0.12rem;
	background: url(../images/price_combo@2x.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 0.4rem;
	top: 0.34rem;
}
.tradehistory{
	width: 100%;
	padding: 0 0.4rem;
	color: #fff;
	font-size: 0.32rem;
	line-height: 0.38rem;
	margin-top: 0.9rem;
	margin-bottom: 0.56rem;
}
.tradehistorypricenegative{
	width: 2.23rem;
	text-align: center;
	float: left;
}
.tradehistorypricepositive{
	color: #F04A5D;
	width: 2.23rem;
	text-align: center;
	float: left;
}
.tradehistoryul{
	margin-bottom: 1.2rem;	
}
.tradehistoryul li{
	display: flex;
	justify-content: space-between;
	color: #fff;
	line-height: 0.48rem;
	font-size: 0.28rem;
}
.resetpasswordsend{
	display: none;
	pointer-events: none;
	color: #00ACDC;
}

/*--------邀请*/
.myinvaid{
	width: 100%;
	margin-top: 0.6rem;
	margin-bottom: 0.3rem;
	text-align: center;
	
}
.myinvaid span:nth-child(1){
	font-size: 0.26rem;
	line-height: 0.42rem;
}
.myinvaid span:nth-child(2){
	font-size: 0.34rem;
	line-height: 0.34rem;
	color: #dc143c;
}
.qrcodecontent{
	width: 3.5rem;
	height: 3.5rem;
	margin: auto;
	margin-bottom: 0.6rem;
}
.qrcodecontent canvas{
	width: 100%; 
}
.qrcodecontent img{
	height: 3.5rem;
	width: 3.5rem;
	display: block;
}
.Currentrebate{
	width: 6rem;
	height: 1.5rem;
	border: 1px solid #e8e8e8;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.4rem;
}
.CurrentrebateProportion{
	border-right: 1px solid #e8e8e8;
}
p{
	margin: 0;
}
.CurrentrebateProportion p:nth-child(1),.CurrentrebateValuation p:nth-child(1){
	font-size: 0.3rem;
	color: #101315;
	line-height: 0.35rem;
}
.CurrentrebateProportion p:nth-child(2){
	font-size: 0.34rem;
	color: #e8b342;
	margin-top: 0.36rem;
}
.CurrentrebateValuation p:nth-child(2){
	font-size: 0.3rem;
	color: #e8b342;
	margin-top: 0.2rem;
}
.CurrentrebateValuation p:nth-child(3){
	font-size: 0.26rem;
	color: #e8b342;
	margin-top: 0.05rem;
}
.CurrentrebateProportion,.CurrentrebateValuation{
	width: 50%;
	margin: 0.2rem 0;
	text-align: center;
}
.mylinktitle{
	font-size: 0.3rem;
	color: #101315;
	margin-left: 0.75rem;
	margin-bottom: 0.2rem;
}
.mylinkcontent{
	width: 6rem;
	padding: 0.26rem;
	margin: auto;
	text-align: left;
	border: 1px solid #e8e8e8;
	font-size: 0.24rem;
	line-height: 0.32rem;
	word-wrap:break-word;
	word-break:break-all;
}
.mylinkcopy{
	width: 2.4rem;
	height: 0.8rem;
	display: block;
	border-radius: 0;
	background: #00ACDC;
	color: #fff;
	font-size: 0.3rem;
	margin: 0.4rem auto;
	border: 0;
}
.Activityrules{
	width: 6.8rem;
	background: #F0F2F0;
	margin: auto;
	padding: 0.2rem;
	margin-bottom: 0.3rem;
}
.Activityrules p{
	color: #101315;
	font-size: 0.24rem;
	width: 100%;
	line-height: 0.32rem;
	margin-bottom: 0.1rem;
	word-wrap:break-word;
	word-break:break-all;
}
.Activityrules .Activityrulescontent{
	width: 100%;
	color: #000;
	opacity: 0.85;
	font-size: 0.24rem;
	line-height: 0.32rem;
	margin-bottom: 0.2rem;
	word-wrap:break-word;
	word-break:break-all;
}
.Activityrulestitle{
	font-size: 0.28rem;
	color: #000;
	margin-bottom: 0.2rem;
}
.myrote{
	color: #ee4920;
	font-size: 0.24rem;
	line-height: 0.32rem;
}
/*------交易---------*/
.tradingheader{
	width: 100%;
	height: 1rem;
	background: #353B41;
	position: relative;
	text-align: center;
	line-height: 1rem;
	color: #f7d800;
}
.tradingtext{
	position: relative;
	width: 2.5rem;
	margin: auto;
	text-align: center;
	font-size: 0.34rem;
}
.tradingciontab{
	position: absolute;
	right: 0;
	top: 0.44rem;
	width: 0.22rem;
	height: 0.11rem;
	background: url(../images/ic_exchange_down_arrow.png) no-repeat;
	background-size: 100% 100%;
}
.tradingciontabtwo{
	position: absolute;
	right: 0;
	top: 0.44rem;
	width: 0.22rem;
	height: 0.11rem;
	background: url(../images/ic_exchange_up_arrow.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.tradingback{
	width: 0.2rem;
	height: 0.3rem;
	position: absolute;
	left: 0.2rem;
	top: 0.35rem;
	background: url(../images/icon_return.png) no-repeat;
	background-size: 100% 100%;
}
.tradingbox{
	width: 100%;
	overflow: hidden;
	padding: 0 0.2rem;
}
.Latestdealbox{
	width: 3.22rem;
	border: 1px solid #353B41;
	height: 6rem;
	margin: 0.2rem 0;
	float: left;
}
.LatestCommissionbox{
	width: 3.82rem;
	float: right;
	border: 1px solid #353B41;
	margin: 0.2rem 0;
	height: 6rem;
}
.Mycommissionbox{
	width: 3.22rem;
	margin-bottom: 0.2rem;
	float: left;
	height: 5.1rem;
}
.transactionbox{
	width: 3.82rem;
	float: right;
	height: 5.1rem;
	margin-bottom: 0.2rem;
	position: relative;
}
.Latestdealtitle{
	width: 100%;
	height: 0.6rem;
	background: #353B41;
	padding: 0 0.2rem;
	line-height: 0.6rem;
	color: #fff;
	font-size: 0.28rem;
}
.Latestdeallisttitle{
	width: 100%;
	padding: 0.2rem 0.2rem;
	font-size: 0.24rem;
	height: 0.64rem;
	color: #93989d;
	display: flex;
	justify-content: space-between;
}
.LatestdeallistScroll{
	width: 100%;
	height: 4.5rem;
	position: relative;
}
.LatestdeallistScroll li{
	font-size: 0.24rem;
	overflow: hidden;
	padding: 0 0.2rem;
	height: 0.44rem;
	line-height: 0.44rem;
}
.LatestdeallistScroll li div:nth-child(1){
	float: left;
	color: red;
}
#latestsellul li div:nth-child(1){
	float: left;
	color: #f04a5d;
}
#latestbuyul li div:nth-child(1){
	float: left;
	color: #00acdc;
}
.LatestdeallistScroll li div:nth-child(2),.LatestCommisssul li div:nth-child(2){
	float: right;
	color: #fff;
}
.LatestCommissiontitle{
	width: 100%;
	padding: 0 0.2rem;
	font-size: 0.28rem;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
	background: #353B41;
}
.LatestCommissiontitle span:nth-child(1){
	color: #00acdc;
}
.LatestCommissiontitle span:nth-child(2){
	color: #b4b7bb;
}
.LatestCommissiontitle span:nth-child(3){
	color: #f04a5d;
}
.LatestCommisssul li{
	font-size: 0.24rem;
	height: 0.36rem;
	line-height: 0.42rem;
	overflow: hidden;
	padding: 0 0.2rem;
}
.LatestCommisssul{
	min-height: 1.9rem;
}
.LatestCommisssul{
	min-height: 1.9rem;
}
.LatestCommissionprice{
	width: 100%;
	padding: 0 0.2rem;
	height: 0.6rem;
	background: #353B41;
	margin-bottom: 0.2rem;
}
.LatestCommissionpriceup,.LatestCommissionpricedown{
	float: left;
	width: 0.2rem;
	height: 0.28rem;
	margin-top: 0.15rem;
	margin-right: 0.1rem;
}
.LatestCommissionpriceup{
	background: url(../images/ic_home_rise.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.LatestCommissionpricedown{
	background: url(../images/ic_home_fall.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.LatestCommissionprice div:nth-child(3){
	font-size: 0.28rem;
	color: #fff;
	height: 0.28rem;
	line-height: 0.28rem;
	padding-top: 0.16rem;
	float: left;
	height: 0.6rem;
}
.LatestCommissionprice div:nth-child(4){
	font-size: 0.26rem;
	color: #00acdc;
	line-height: 0.6rem;
	float: right;
}
.Mycommissiontab{
	width: 100%;
	display: flex;
	height: 0.7rem;
}
.Mycommissiontab div:nth-child(1){
	width: 50%;
	line-height: 0.7rem;
	font-size: 0.28rem;
	color: #fff;
	text-align: center;
	background: #353B41;
}
.Mycommissiontab div:nth-child(2){
	width: 50%;
	line-height: 0.7rem;
	font-size: 0.28rem;
	color: #93989d;
	text-align: center;
}
.myEntrust,.myDeal{
	width: 100%;
	border: 1px solid #353B41;
	height: 4.4rem;	
}
.myDeal{
	display: none;
}
.EntrustulScroll{
	width: 100%;
	position: relative;
	height: 3.6rem;
	
}
.EntrustulScroll ul{
}

.EntrustulScroll li{
	font-size: 0.24rem;
	width: 100%;
	height: auto;
}
.Entrustulcontent{
	overflow: hidden;
	width: 100%;
	padding: 0 0.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	
}
.Entrustulcontentbg{
	background: #263743;
}
.Entrustulcancel{
	width: 1.2rem;
	height: 0.6rem;
	background: #353b41;
	color: #F0D22E;
	text-align: center;
	line-height: 0.6rem;
	margin: 0.2rem auto;
	display: none;
}

.Entrustulcontent div:nth-child(1),.Entrustulcontent div:nth-child(1){
	float: left;
	color: #fff;
}
.Entrustulcontent div:nth-child(2),.Entrustulcontent div:nth-child(2){
	float: right;
	color: #fff;
}
.buycontent{
	width: 100%;
	padding: 0 0.2rem;
	height: 4.4rem;
	border: 1px solid #353B41;
}
#sellcontent{
	display: none;
}
.transactionbox input{
	display: block;
	width: 100%;
	height: 0.6rem;
	border: 1px solid #353B41;
	background: none;
	border-radius: 0;
	margin: 0.2rem 0 0 0;
	font-size: 0.24rem;
	color: #fff;
}
.buyAvailable{
	font-size: 0.24rem;
	color: #fff;
	margin-top: 0.1rem;
	width: 100%;
	height: 0.24rem;
	line-height: 0.24rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.buyAvailable span:nth-child(3){
	color: #F0D22E;
	float: right;
}
.buyProportion{
	color: #fff;
	font-size: 0.26rem;
	margin-left: 0.2rem;
}
.Tradingvolume{
	font-size: 0.26rem;
	color: #fff;
	margin: 0 0 0.1rem 0;
	width: 3.08rem;
	height: 0.28rem;
	line-height: 0.28rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.buycion,.sellcion{
	float: right;
	margin-left: 0.1rem;
}
.ServiceCharge{
	font-size: 0.24rem;
	color: #93989D;
}
.buytipsbtn{
	width: 100%;
	margin: auto;
	display: block;
	border: 0;
	background: #00acdc;
	height: 0.62rem;
	border-radius: 2px;
	font-size: 0.28rem;
	color: #fff;
	margin-top: 0.2rem;
}
.selltipsbtn{
	width: 100%;
	margin: auto;
	display: block;
	border: 0;
	background: #f04a5d;
	height: 0.62rem;
	border-radius: 2px;
	font-size: 0.28rem;
	color: #fff;
	margin-top: 0.2rem;
}
.pleaselogin{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	display: none;
}
.logintipspic{
	width: 1.28rem;
	height: 1.28rem;
	background: url(../images/ic_exchange_head.png) no-repeat;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 1.06rem;
}
.gologinsign{
	margin: auto;
	margin-top: 0.6rem;
	text-align: center;
	font-size: 0.28rem;
	color: #fff;
}
.gologinsign span:nth-child(1),.gologinsign span:nth-child(3){
	color: #00acdc;
}
.minvaloum{
	width: 2.9rem;
	height: 0.6rem;
	text-align: center;
	font-size: 0.26rem;
	line-height: 0.6rem;
	position: absolute;
	left: 0.22rem;
	bottom: 1rem;
	background: #f04a5d;
	color: #fff;
	display: none;
}
.Reconfirmbox{
	width: 100% ;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	display: none;
}
.Reconfirm{
	position: fixed;
	width: 6.7rem;
	height: 3rem;
	background: #fff;
	left: 0.4rem;
	top: 30%;
	z-index: 5;
	border-radius: 5px;
	padding: 0 0.6rem;
	overflow: hidden;
}
.Reconfirmtitle{
	font-size: 0.34rem;
	margin-top: 0.5rem;
}
.Reconfirmcontent{
	margin-top: 0.26rem;
	font-size: 0.28rem;
	width: 100%;
	word-wrap:break-word;
	line-height: 0.4rem;
	word-break:break-all;
	height: 1rem;
}
.Reconfirmcancel{
	float: right;
	width: 1.4rem;
	height: 0.76rem;
	border: 1px solid #00ACDC;
	border-radius: 3px;
	text-align: center;
	color: #00ACDC;
	line-height: 0.76rem;
	margin-right: 0.4rem;
}
.Reconfirmsubmit{
	float: right;
	width: 1.4rem;
	height: 0.76rem;
	background: #00ACDC;
	border-radius: 3px;
	text-align: center;
	color: #FFF;
	line-height: 0.76rem;
}
.Marketchoice{
	width: 100%;
	height: 3rem;
	background: #e8e8e8;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 1rem;
	display: none;
}
.Marketchoice li{
	text-align: center;
	font-size: 0.3rem;
	height: 0.6rem;
	line-height: 0.6rem;
	
}
.Selectionof{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0.18rem 0;
}
.Selectionof div{
	width: 0.72rem;
	height: 0.4rem;
	font-size: 0.24rem;
	text-align: center;
	border: 1px solid #353b41;
	line-height: 0.4rem;
	color: #fff;
}
