.mui-btn, button, 
input[type=button], 
input[type=reset], 
input[type=submit]{
	padding: 0rem 0rem;
}
.withdrawlogo{
	width: 0.24rem;
    height: 0.32rem;
    margin-left: 0.38rem;
    margin-top: 0.52rem;
    float: left;
}
.gobackimg{
	height: 0.2rem;
	width: 0.2rem;  
}
.gobackimg img{ 
	height: 0.2rem;
	width: 0.2rem;
	margin-top: -0.03rem;
}
.pt036{
	padding-top: 0.36rem;
}
.mui-switch{
	height: 0.52rem;
	width:1rem ;
	border: 0.02rem solid #ddd;
	background: #B4B7BB
}
.mui-switch-blue.mui-active{
 
	border: 0.02rem solid #ddd;
    background-color: #fff;
}
.mui-switch .mui-switch-handle{
	height: 0.40rem;
	width: 0.4rem;
	top: 0.04rem;
	left:0.03rem
}
/*toast信息提示*/
.mui-toast-container {
	bottom: 50% !important;
	border-radius:0rem;
}
.mui-toast-message {
	font-size: 0.4rem;
	color: #fff; 
	width:7.5rem;
	height:1.6rem;
	line-height: 1.6rem;
	border-radius: 0rem;
	padding: 0;
}
.bordertip{ 
	position: relative;
	/*border-bottom:0.08rem solid #F0D22E !important;*/
}
.bordertip .hint{
	position: absolute;
	bottom: 0.02rem;
	content: "";
	display: block;
	width:4.52rem;
	height: 0.08rem;
	background: #F0D22E;
	z-index: 100;
}
.warningerror{
	display: none;
}
/*my 个人中心*/
/*index*/
.arrowrightimg img{
	height: 0.24rem;
	width: 0.12rem;
}
.switchright{
	height: 0.52rem;
	margin-top: 0.28rem;
}
/*.createapisettingcontent{
	height: 1.6rem;
	padding: 0.5rem 0.36rem;
	font-size: 0.3rem;
	box-sizing: border-box;	
}
.createapisettingcontent span{
	height: 0.6rem;   
}*/
.createapi_a{ 
	float: right;  
	margin-top: 0.5rem;
	text-align: center;  
} 
.createapi_a .createapi{ 
	line-height: 0.6rem; 
	padding: 0rem 0rem;
 	width: 2.6rem; 
	color: #fff; 
	background:#353B41 ;
}
.settings{
	width: 7.5rem;
	padding-left: 0.36rem;
	padding-right: 0.36rem;
	height: 1.76rem;
}
.settings .settingsapitop{
	margin-top: 0.32rem;
	margin-bottom: 0.16rem;
	 
}
.settingleft ul{
	width: 5.7rem;
}
.bdr{
	border-right: 0.02rem solid #DBDBDB;
}
.settingleft ul li{  
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.28rem;
}
.settingright{
	height: 1.76rem;
	line-height: 1.7rem;
}
.settingright img{ 
	width: 0.24rem;
	height: 0.24rem;
}
.settingright .settingrightimg{
	width: 0.24rem;
	height: 0.12rem;
	margin-top: 0.76rem; 
}
.settingright .settingrightimg.up{
	background:url(../../images/my/arrow_up.png) no-repeat center center;
	background-size: 100% 100%;
}
.settingright .settingrightimg.downs{  
	background:url(../../images/my/arrow_down.png) no-repeat center center;
	background-size: 100% 100%;
}
.stiingapihidden{
	display: none;
	width: 7.5rem;
	height: 1.04rem;
	padding: 0.24rem 2.08rem;
	padding-bottom: 0rem;
	margin-bottom: 0.32rem;
}
.stiingapihidden ul{
	height: 0.8rem; 
}
.stiingapihidden ul li{
	width: 0.8rem;
	height: 0.8rem;
}
.stiingapihidden ul li img{
	width: 0.8rem;
	height: 0.8rem;
}

.stiingapihidden ul li.hiddenright{
	margin-right: 0.47rem;
}
.CreateTitle{
	height: 0.56rem;
	text-align: center;
	margin-top: 0.6rem;
	font-size:0.48rem;
}
/*index弹框*/
/*Secret key*/
.SecretKey{
	position: fixed;
	top:0rem;
	left:0rem;
	height:100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	padding:0.82rem 0.36rem;
	z-index: 10001;
	display: none;
}
.SecretKey .SecretKeycontent{
	height:90%; 
	background: #fff;
	position: relative;
}
.coinname{
	display: inline-block;
	float: left;
}
.Fullname{
	
	display: inline-block;
	width: 1.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.SecretKey .SecretKeycontent .SecretKeycontentimg,.Delete .DeleteContent .SecretKeycontentimg{
	width: 100%;
	text-align: right;
	padding-top:0.36rem;
	height:0.84rem;
	padding-right: 0.36rem;
}
.SecretKey .SecretKeycontent .SecretKeycontentimg img,.Delete .DeleteContent .SecretKeycontentimg img{
	height:0.48rem;
	width: 0.48rem;
}
.SecretKey .SecretKeycontent  .SecretKeycontentTitle,.Delete .DeleteContent .SecretKeycontentTitle{
	text-align: center;	 
}
.SecretKey .SecretKeycontent  .qrcode{
	margin: 0.84rem  auto;
}
.SecretKey .SecretKeycontent .AccessId{
	padding: 0rem 0.36rem 0.48rem 0.36rem;
}
.SecretKey .SecretKeycontent .AccessId .AccessIdcontent{
	height: 1.2rem;
	padding: 0.22rem 0.24rem;
	line-height: 0.39rem;
	border: 0.02rem solid #353B41;
	
}
.Delete{
	position: fixed;
	top:0rem;
	left:0rem;
	height:100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	padding:0.82rem 0.36rem;
	z-index: 10001;
	display: none;
}
.Delete .DeleteContent{
	height:6rem; 
	background: #fff;
}
.Delete .DeleteContent .Deletetext{
	text-align: center;
	margin-top:1.08rem;
	margin-bottom:1.32rem;
}
.Delete .DeleteContent .Confirm{
	width: 2.4rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: #00ACDC;
}
/*弹框*/
.mui-popup{
	border-radius: 0rem;
}
.mui-popup-inner{
	border-radius: 0rem;
}
.mui-popup-button:first-child{
	border-radius: 0rem;
	color:#00ACDC
}
.mui-popup-button:last-child{
	border-radius: 0rem;
	color:#00ACDC
}
.mui-popup-button:first-child:last-child{
	border-radius: 0rem;
	color:#00ACDC
}
/*Create*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#BDBFC2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#BDBFC2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#BDBFC2;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#BDBFC2;
}
form{
	width: 7.5rem;
	padding:0.36rem;
}
.forminput label{
	height: 0.36rem;
	margin-bottom: 0.1rem;
	-webkit-tap-highlight-color: transparent;
}
.forminput input[type=text]:focus, .forminput input[type=password]:focus {
    border: 0.02rem solid #353B41;
}
.forminput input{
	height: 0.8rem;
	border: 0.02rem solid #353B41;
	border-radius: 0rem;
	color: #101315;
	-webkit-tap-highlight-color: transparent;
}
.forminput .checkboxs {
	display: inline-block;
	height: 0.4rem;
	width: 7.5rem; 
	vertical-align:middle; 
	position: relative;
	margin-bottom: 0.3rem;
	color:#101315
}
 
.forminput .checkboxs input{  
	/*border: 0.01rem solid #353B41;*/
	height: 0.4rem;
	width: 0.4rem;
	border: none;
	-webkit-appearance:none;
	background: url(../../images/my/checkbox-off.png) no-repeat center;
	background-size: 100% 100%;
	/*box-sizing: border-box;
	
	box-shadow: none; 
	border-radius: 0rem;
	background-color: #fff !important;
	vertical-align:middle; */
} 
.forminput .checkboxs input[type=checkbox]:checked{
	/*background-color: #00ACDC !important;
	border: 0.01rem solid #00ACDC !important;*/
	/*box-sizing: border-box;*/
	height: 0.4rem;
	width: 0.4rem;
	background: url(../../images/my/checkbox-on.png) no-repeat center;
	background-size: 100% 100%;
}
.forminput .checkboxs .checkboxstext{
	display:  block;
	margin-left:0.5rem;
	margin-top: -0.50rem !important;	
}
/*.forminput .checkboxs input[type=checkbox]:checked::after{
    content: '';
    top:0rem;
    left: 0rem;
    position: absolute;
  /*  background: transparent;*/
  /*  border: #fff solid 2px;*/
    /*border-top: none;
    border-right: none;
    height: 0.4rem;
	width: 0.4rem;
	background: url(../../images/my/checkbox-on.png) no-repeat center;
	background-size: 100% 100%;*/
	/* -moz-transform: rotate(-45deg);*/
	/*background-color: #00ACDC !important;
   
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);*/
/*}*/
.forminput .buttonsubmitcenter{
	text-align: center;
	padding-top: 0.6rem;
}
.forminput .buttonsubmit{
	font-size: 0.4rem;
	color: #fff;
	width: 2.4rem;
	 
	line-height: 0.4rem;
	padding: 0.2rem 0rem;
	border-color: #00ACDC;
	background: #00ACDC;
	box-sizing: border-box;
}
/*resetemail*/
.emailstep{
	width: 7.5rem;
	padding: 0.48rem;
}
.emailstep ul{
	width: 7.02rem;
	height: 0.64rem; 
}
.emailstep ul li{
	height: 0.64rem;
	padding: 0.12rem 0rem; 
}
.emailstep ul li.emailstep1 { 
	width: 2.2rem;  
}
.emailstep ul li.emailstep1 .emailstep1img{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}
.emailstep ul li.emailstep1 img{
	float: left;
	width: 0.4rem;
	height: 0.4rem; 
}
.emailstep ul li.emailstep1 .emailstep1text{
	float: left;
	width: 0.8rem;
	font-size: 0.28rem;
	margin-left: 0.1rem; 
	color:#F8D900
}
.emailstep ul li.emailstep1 .emailstep1interval{ 
	float: left;
	width: 0.26rem; 
	font-size: 0.28rem;
	height: 0.4rem;
	line-height: 0.3rem;
	margin-left: 0.27rem; 
	color:#BDBFC2 
}
.emailstep ul li.emailstep2 { 
	width: 2.5rem;  
}
.emailstep ul li.emailstep2 .emailstep2img{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}
.emailstep ul li.emailstep2 img{
	float: left;
	width: 0.4rem;
	height: 0.4rem; 
}
.emailstep ul li.emailstep2 .emailstep2text{
	float: left;
	width: 1.1rem;
	font-size: 0.28rem;
	margin-left: 0.1rem;
	color:#BDBFC2;
	overflow:hidden;
	 white-space:nowrap;
}
.emailstep ul li.emailstep2 .emailstep2interval{ 
	float: left;
	width: 0.26rem; 
	font-size: 0.28rem;
	height: 0.4rem;
	line-height: 0.3rem;
	margin-left: 0.27rem; 
	color:#BDBFC2
}
.emailstep ul li.emailstep3 { 
	width: 1.8rem;  
}
.emailstep ul li.emailstep3 .emailstep3img{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}
.emailstep ul li.emailstep3 img{
	float: left;
	width: 0.4rem;
	height: 0.4rem; 
}
.emailstep ul li.emailstep3 .emailstep3text{
	float: left;
	width: 1.22rem;
	font-size: 0.28rem;
	margin-left: 0.1rem;
	color:#BDBFC2;
	overflow: hidden;
	 white-space:nowrap;
}
/*读秒*/
.countdown{
	display: block;	
}
.Endofcountdown{
	display: none;
}
.passwordstep{
	width: 7.5rem;
	padding: 0rem 0.98rem;
	margin: 0.46rem 0rem;
}
.passwordstep ul{
	width: 5.5rem;
	height: 0.64rem; 
}
.passwordstep ul li{
	height: 0.64rem;
	padding: 0.12rem 0rem; 
}
.passwordstep ul li.emailstep1 { 
	width: 2.2rem;  
}
.passwordstep ul li.emailstep1 .emailstep1img{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}
.passwordstep ul li.emailstep1 img{
	float: left;
	width: 0.4rem;
	height: 0.4rem; 
}
.passwordstep ul li.emailstep1 .emailstep1text{
	float: left;
	width: 0.8rem;
	font-size: 0.28rem;
	margin-left: 0.1rem; 
	color:#F8D900
}
.passwordstep ul li.emailstep1 .emailstep1interval{ 
	float: left;
	width: 0.26rem; 
	font-size: 0.28rem;
	height: 0.4rem;
	line-height: 0.3rem;
	margin-left: 0.27rem; 
	color:#BDBFC2 
}
.passwordstep ul li.emailstep3 { 
	width: 3.3rem;  
}
.passwordstep ul li.emailstep3 .emailstep3img{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
}
.passwordstep ul li.emailstep3 img{
	float: left;
	width: 0.4rem;
	height: 0.4rem; 
}
.passwordstep ul li.emailstep3 .emailstep3text{
	float: left;
	height: 0.4rem; 
	width: 2.8rem;
	font-size: 0.28rem;
	margin-left: 0.1rem;
	color:#BDBFC2
}
/* sendcode*/
.sendcode{ 
	text-align: center;
}
.userHeadportrait{
	width: 0.84rem;
	height: 0.84rem;
	float: left;
	margin: 0.38rem 0.38rem 0 0.38rem;
}
.userHeadportrait img{
	width: 100%;
	height: 100%;
	
}
/*Enable Google Authentication*/
.qrcode{
	margin: 0.36rem 0rem 0.36rem 0rem;
	height: 2.56rem;
}
.qrcode .qrcodecontent{
	margin: auto;
	width: 2.56rem;
	height: 2.56rem;
}
.qrcode .qrcodecontent canvas{
	width: 100%; 
}
.qrcode .qrcodecontent img{
	width: 2.56rem;
	height: 2.56rem;
}
/*ID verification*/
.textcontent{
	padding: 0.36rem;
}
.Nationality{
	height: 4.6rem;
	 
}
.Nationality select{
	height: 1rem;
	padding-left: 0.4rem !important;
	padding-right: 0.54rem !important;
	border: 0.02rem solid #B4B7BB !important;
	background: url(../../images/my/arrow_down.png) no-repeat scroll right center transparent;
	background-size:0.24rem 0.12rem;
	background-position-x: 6.2rem;
	border-radius: 0rem !important;
	 
}
.IDVerificationcontent .forminput .hbr{
	height: 1rem;
	border: 0.02rem solid #B4B7BB !important;
}
.forminput .Firstname input,.forminput .Lastname input{
	height: 1rem;
	border: 0.02rem solid #B4B7BB !important;
}
.forminput .Firstname{
	width:3.22rem;
	height: 1rem;
}
.forminput .Lastname{
	width:3.22rem;
}
.IDVerification{
	height: 3.52rem;
	padding: 0.36rem 0.36rem;
	 
}
.IDVerificationp{
	
}
.idmlr036{
	width: 7.5rem;
	margin-left:-0.36rem!important;
}
.IDtype{
	height: 0.4rem;
	margin-bottom: 0.58rem;
}
.IDtype .IDtypes{
	height: 0.4rem;
	line-height: 0.4rem;
	margin-right: 0.4rem;
}
.radio{
	position: relative; 
	display: inline-block; 
	margin-right: 0.24rem;
}
.radio input{ 
	vertical-align: middle; 
	margin-top: -0.04rem; 
	margin-bottom: 0.02rem;
	width: 0.4rem; 
	height: 0.4rem; 
	appearance: none;
	-webkit-appearance: none;
	opacity: 0; 
	outline: none;
}
.radio label { 
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 1; 
	width: 0.4rem; 
	height: 0.4rem;
	background: url(../../images/my/step_current.png) no-repeat center;
	background-size: 100% 100%;
 	/*border: 0.02rem solid #101315; 
 	border-radius: 100%;*/
}
.radio input:checked+label { 
	/*border: 0.02rem solid #101315;
	background: #00BAE7;*/
	width: 0.4rem; 
	height: 0.4rem;
	background: url(../../images/my/step_done.png) no-repeat center;
	background-size: 100% 100%;
}
.radio input:checked+label::after { 
	content: ""; 
	position: absolute; 
	/*left:0.12rem; 
	top: 0rem; 
	width: 0.12rem; 
	height: 0.24rem; 
	border-right: 0.02rem solid #fff;
	border-bottom: 0.02rem solid #fff; 
	transform: rotate(45deg);*/
 }
.IdStatementverification{
 	height: 2.52rem;
 	margin-top: 0.36rem;
 }
.IdStatementverification .statementverification{
 	width: 5rem;
 	height: 2.52rem;
 	padding: 0.42rem 0rem 0rem 0.36rem;
}
.IdStatementverification .arrowrightimg{
 	line-height: 2.52rem;
}
.idDeverificationcheckboxs{
	height: 0.72rem;
	width: 7.5rem;
	padding: 0.72rem 0rem;
}
.idDeverificationcheckboxs .checkboxsleft{
	line-height: 0.72rem;
	padding-right: 0.20rem;
}
.idDeverificationcheckboxs .checkboxsright{
	line-height: 0.36rem;
}
.IDVerificationcontent .forminput .checkboxs input[type=checkbox]:checked::after{
    
}
.IDVerificationcontent .forminput .checkboxs #checkboxpromise{
    margin-top: 0.18rem;
}
/*Resetemailetcode*/
.emailt-c{
	margin: 0 auto;
}
.emailt-c p {
	margin: 0.2rem auto;
}
input[type=color], 
input[type=date], 
input[type=datetime-local],
input[type=datetime], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password],
input[type=search],
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 
select, textarea{
	margin-bottom: 0px;	
}
/*Disable SMS Authentication*/
.SMSgetcode{
	 height: 1.26rem;
	 margin-bottom: 0.72rem;
}
.SMSgetcode select{
	width:2.98rem;
	height: 0.8rem;
	float: left;
    padding-left: 0.4rem !important;
    padding-right: 0.54rem !important;
    border: 0.02rem solid #353B41 !important;
    background: url(../../images/my/arrow_down.png) no-repeat scroll right center transparent;
    background-size: 0.24rem 0.12rem;
    background-position-x: 2.52rem;
    border-radius: 0rem !important;
    box-sizing: border-box;
}
.SMSgetcode input{
	width: 3.8rem;
	height: 0.8rem;
	float: left;
	border-left: none;
	box-sizing: border-box;
}
.SMSgetcode input[type=text]:focus{ 
	border-left: none;
	box-sizing: border-box;
}
/*Deposit Records*/
.Recordsselect{
	height: 0.88rem; 
	margin-top: 0.14rem;
}
.Recordsselected{
	 height: 0.44rem; 
	 margin-left: 0.24rem;
}
.Recordsselected select{
	margin-top: 0rem;
	width:1.4rem; 
	height: 0.44rem;
	font-size: 0.28rem;
	float: left;
	border-radius:0.5rem;
    padding-left: 0.22rem !important;
    padding-right: 0.44rem !important;
    border: none !important;
    background: url(../../images/wallet/pulldown_arrow.png) no-repeat scroll right center transparent;
    background-size: 0.2rem 0.2rem;
    background-position-x: 1.0rem; 
    background-color: #BDBFC2;
    box-sizing: border-box;
    padding: 0px 0px;
}
.pendingpepositselected{
	position: relative;
}
.pendingpepositselected:before{
	content: "";
	display:  block;
	width: 0.24rem;
	height: 0.30rem;
	position: absolute;
	left: 0.4rem;
	top:0.25rem;
	background: url(../../images/header/icon_sel.png) no-repeat center center;
	background-size: 0.24rem 0.30rem;
}
.pendingpepositleft{
	height: 0.8rem;
	line-height: 0.8rem;
	padding-left: 0.36rem;
}
.pendingpepositselected{
	padding-right: 0.36rem;
}
.pendingpepositselected select{
	margin-top: 0rem;
	width:3rem; 
	height: 0.8rem;
	font-size: 0.32rem;
	float: left;
	border-radius:0.5rem;
    padding-left: 0.96rem !important;
    padding-right: 0.44rem !important;
    border: 0.02rem solid #BDBFC2 !important;
    background: url(../../images/wallet/pulldown_arrow.png) no-repeat scroll right center transparent;
    background-size: 0.2rem 0.2rem;
    background-position-x: 2.5rem; 
    background-color: none;
    box-sizing: border-box;
    padding: 0px 0px;
}

.Asset_Deposit_Withdrawal{
	width: 100%;
	margin-top: 0.6rem;
	margin-bottom: 1rem;
	margin: 0 auto;
	margin-top: 0.4rem;
	margin-bottom: 0.6rem;
}
.Asset_Deposit_Withdrawal ul{
	height: 1.04rem;
	width: 100%;
	padding: 0 0.36rem;
	margin: 0 auto;
	border-bottom: 0.05rem solid #353B41;
}
.Asset_Deposit_Withdrawal ul li{
	float: left;
	width: 2.1rem;
	height: 1.02rem;
	border:1px solid #B4B7BB;
	text-align: center;
	line-height: 0.38rem;
	border-bottom: none;
	box-sizing: border-box;
}
.Deposit_search{
	width: 7.5rem;
	height: 0.8rem; 
	padding: 0rem 0.36rem;
	margin-bottom: 0.6rem;
	position: relative;
	display: none;
}
.Deposit_search .searchspan{
	content: "";
	display: block;
	width: 0.36rem;
	height: 0.36rem; 
	background: url(../../images/header/search.png) no-repeat;
	 background-size: 0.36rem 0.36rem;
	position: absolute; 
	right: 0.72rem;
	top: 0.21rem;
}
 .tabnomore{
 	display: none;
 }
.Deposit_search input{
	font-size: 0.30rem !important;
	text-align: left; 
	width:6.78rem; 
	height: 0.8rem;  
	border-radius:0;
	border: none;
	float: left;
	box-sizing: border-box;
	padding-right: 0.84rem;  
	background: #fff;
}
.Deposit_selected{
	margin: auto;
	height: 0.8rem;
	width: 7.5rem;
	text-align: center;
	display: none;
}
.Deposit_selected select{
	margin: auto;
	margin-top: 0rem;
	width:3rem; 
	height: 0.8rem;
	font-size: 0.32rem; 
	border-radius:0.5rem;
    padding-left: 0.96rem !important;
    padding-right: 0.44rem !important;
    border: 0.02rem solid #BDBFC2 !important;
    background: url(../../images/wallet/pulldown_arrow.png) no-repeat scroll right center transparent;
    background-size: 0.2rem 0.2rem;
    background-position-x: 2.5rem; 
    background-color: none;
    box-sizing: border-box;
    padding: 0px 0px;
}
.depositRecord_rightimg{
	display: inline-block;
	height: 0.42rem;
	width: 0.24rem;
}
.depositRecord_rightimg .down{
	display: inline-block;
	width: 0.24rem;
	height: 0.12rem;
	background: url(../../images/my/arrow_down.png) no-repeat center center;
	background-size: 0.24rem 0.12rem;
	
}
.depositRecord_rightimg .up{
	margin-top: 0.18rem;
	display: inline-block;
	width: 0.24rem;
	height: 0.12rem;
	background: url(../../images/my/arrow_up.png) no-repeat center center;
	background-size: 0.24rem 0.12rem;
	display: none;
}
.DepositTXID_isshow{
	width: 7.5rem;
	padding: 0.36rem;
	display: none;
}
.DepositTXID_isshow .AccessId .AccessIdcontent{
	height: 1.2rem;
	padding: 0.22rem 0.24rem;
	line-height: 0.39rem;
	border: 0.02rem solid #353B41;
	background: #fff;
}
.AssetDepositWithdrawalcolor{
	background: #353B41;
	color: #fff;
	border: none;
	height: 1.04rem;
}
.Assethidden{
	height: 1.4rem;
	width: 7.5rem;
	padding:0.28rem 2.1rem;
	display: none;
}
.Assethiddenright{
	margin-right: 0.45rem;
}
.Assethidden ul li {
	height: 0.8rem;
	width: 0.8rem;
	text-align: center; 
	border: 0.02rem solid #BDBFC2;
	box-sizing: border-box;
	background: #fff;
}
.Assethidden ul li img{ 
	margin-top: 0.22rem;
	margin-bottom: 0.19rem;
	height: 0.36rem;
}
.AssetRortfolio{
	display: none;
}
.AssetRortfolioblock{
	display: block;
}

/*弹框*/
.Deposit {
    position: fixed;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 0.82rem 0.36rem;
    z-index: 10001;
    display: none;
}
.Withdraw{
	position: fixed;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 0.82rem 0.36rem;
    z-index: 10001;
    display: none;
}
.Withdraw form{
	width: 100%;
}
.Withdraw form select {
    width: 100%;
    height: 0.8rem; 
    padding-left: 0.4rem !important;
    padding-right: 0.54rem !important;
    border: 0.02rem solid #353B41 !important;
    background: url(../../images/my/arrow_down.png) no-repeat scroll right center transparent;
    background-size: 0.24rem 0.12rem;
    background-position-x: 5.52rem;
    border-radius: 0rem !important;
    box-sizing: border-box;
}
.Depositcontent  .SecretKeycontent .DepositContentscroll{
	height:80%;
	overflow-y: scroll !important;
	position: absolute;
	top: 1.5rem;
}
/*footer*/
.footercontent{  
	height: 6.36rem;
	padding-top:1.2rem;
	background: #353B41;
	position: relative;
}
.footercontent .sns-icons{
	height: 0.6rem;
	text-align: center; 
}
.footercontent .sns-icons a{
	display:inline-block;
}
.footercontent .mr04{
	margin-right: 0.4rem;
}
.footercontent .sns-icons img{
	width: 0.6rem;
	height: 0.6rem;
}
.footercontent .footertext{
	margin-top: 0.84rem; 
	margin-bottom: 0.72rem;
}
.footercontent .footertext p{ 
	text-align: center; 
	margin-bottom: 0.18rem;
}
.footercontent .footercopyright{
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	height: 0.76rem;
	line-height: 0.76rem;
	width: 7.5rem;
	text-align: center;
	background: #182027;
	color: #93989D;
}
 /*-----------------*/
 .googleVerification{
 	position: fixed;
 	top: 4rem;
 	padding: 0.4rem;
 	left: 0.55rem;
 	width: 6.4rem;
 	height: 4.8rem;
 	background: rgba(0,0,0,0.6);
 	z-index: 10;
 	display: none;
 }
 .googletitle{
 	font-size: 0.3rem;
 	color: #fff;
 }
 .googleclose{
 	width: 0.5rem;
 	height: 0.5rem;
 	background: url(../../images/icon_menu_close@2x.png) no-repeat;
 	background-size: 100% 100%;
 	position: absolute;
 	right: 0.4rem;
 	top: 0.3rem;
 }
 .googleVerification input{
 	width: 5.2rem;
 	border: 1px solid #fff;
 	border-radius: 0;
 	margin: auto;
 	display: block;
 	height: 0.8rem;
 }
 .googlesubmit{
 	width: 5.2rem;
 	height: 0.8rem;
 	background: #00ACDC;
 	color: #fff;
 	text-align: center;
 	line-height: 0.8rem;
 	font-size: 0.3rem;
 	margin: auto;
 	margin-top: 0.4rem;
 }
 .googlecontent{
 	margin: 0.5rem 0;
 	line-height: 0.32rem;
 	text-align: center;
 	font-size: 0.28rem;
 	color: #bdbfc2;
 }

 /*--------注销-----------*/
 .canceltips{
	width: 5rem;
	height: 2.8rem;
	background: rgba(0,0,0,0.6);
	position: absolute;
	left: 1.25rem;
	top: 4rem;
	z-index: 10;
	display: none;
}
.canceltitle{
	color: #fff;
	text-align: center;
	width: 4rem;
	margin: auto;
	height: 1.4rem;
	padding-top: 0.48rem;
	word-wrap:break-word;
	font-size: 0.3rem;
	line-height: 0.32rem;
}
.cancelbtnbox{
	height: 1.4rem;
	border-top: 1px solid #fff;
	display: flex;
	width: 5rem;
}
.cancelbtn{
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	width: 50%;
	border-right: 1px solid #fff;
}
.confirmbtn{
	line-height: 1.4rem;
	color: #00ACDC;
	text-align: center;
	width: 50%;
}
.myinfo{
	overflow: hidden;
}
.myusername,.ancrown,.myvip{
	float: left;
}
.myusername{
	height: 0.48rem;
	line-height: 0.44rem;
	max-width: 4.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mynomore{
	line-height: 1.32rem;
    text-align: center;
    font-size: 0.32rem;
	background: #fff;
}
.ancrown{
	width: 0.4rem;
	height: 0.4rem;
	background: url(../../images/Ancrown.png) no-repeat;
	background-size: 100% 100%;
	margin: 0 0.1rem;
	display: none;
}
.myvip{
	height: 0.42rem;
	font-size: 0.32rem;
	line-height: 0.42rem;
	color: #dc143c;
	display: none;
}
.Pendingtitle{
	width: 100%;
	padding: 0 0.36rem;
	background: #fff;
	height: 1.2rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e8e8e8;
}
.Pendingtitle p{
	font-size: 0.3rem;
	color: #101315;
	line-height: 1.2rem;
	
}