.homeheader{
	height: 1.2rem;
	background: #000;
	padding: 0;
	display: flex;
	display: -webkit-flex; 
	justify-content: space-between
}
.mui-bar-nav~.mui-content{
	padding-top: 1.2rem;
}
.userinfo{
	float: left;
}
.mui-scroll-wrapper{
	z-index: 5;
}
.logo{
	width: 2.84rem;
	height: 0.8rem;
	background:url(../images/logo@2x.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.2rem;
	margin-left: 0.24rem;
}
.userlogo{
	width: 0.52rem;
	height: 0.52rem;
	background: url(../images/icon_user_s@2x.png) no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	margin-top: 0.34rem;
	float: left;
	margin-right: 0.36rem;
}
.username{
	font-size: 0.32rem;
	text-align: right;
	color: #fff;
	margin-right: 0.2rem;
	line-height: 1.2rem;
	float: left;
	font-family: "Medium";
}
.mui-bar-nav.mui-bar .mui-icon{
	float: right;
	margin-right: 0.36rem;
	margin-top: 0.4rem;
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
}
.mui-bar .mui-icon{
	font-size: 0.48rem;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 0.9;
}
.footer{
	width: 100%;
	height: 6.35rem;
	background: #353B41;
	position: relative;
}
.share{
	width: 4.6rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 1.2rem;
}
.share div{
	width: 0.6rem;
	height: 0.6rem;
}
.share div img{
	width: 100%;
	height: 100%;
}
.aboutus{
	margin-top: 0.72rem;
	text-align: center;
}
.aboutus div{
	height: 0.38rem;
	margin-bottom: 0.24rem;
}
.aboutus div a{
	height: 0.38rem;
	font-size: 0.32rem;
	color: #fff;
	font-family: "Basic Gothic Pro-Medium";
}
.record{
	background: #182027;
	width: 100%;
	height: 0.76rem;
	position: absolute;
	bottom: 0;
	color: #93989D;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.76rem;
	font-family: "Basic Gothic Pro-Regular";
}
.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop{
	box-shadow: none;
}
.mui-off-canvas-right{
	background: #000913;
}
.mui-table-view-inverted{
	background: #000913;
}
.close{
	width: 0.48rem;
	height: 0.48rem;
	background: url(../images/icon_menu_close@2x.png) no-repeat;
	background-size: 100% 100%;
	float: right;
	margin: 0.36rem 0.36rem 0 0;
}
.listone{
	margin-top: 1.2rem;
}
.mui-table-view-inverted .mui-table-view-cell:after{
	background: #707070;
	left: 0;
}
.mui-table-view-cell:after{
	left: 0;
}
.mui-table-view-cell{
	padding: 0;
	height: 0.9rem;
}
.mui-table-view-cell>a:not(.mui-btn){
	line-height: 0.9rem;
	margin: 0;
	margin-left: 0.48rem;
	font-family: "Medium";
}
.mui-table-view-inverted:before,.mui-table-view-inverted:after{
	background: #707070;
}

.mui-table-view-inverted .mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: rgba(0,0,0,0) !important;
}
.listtitle{
	height: 0.9rem;
	line-height: 1.2rem;
	margin-left: 0.48rem;
	font-size: 0.24rem;
	color: #93989D;
}
.mui-scrollbar {
	display: none !important;
}
.mui-table-view-chevron .mui-table-view-cell{
	padding-right: 0;
}
.language{
	float: left;
	width: 0.9rem;
	height: 0.6rem;
	background: #0062CC;
	margin: 0.15rem 0.15rem 0 0.48rem;
}
.ch{
	background: url(../images/cn.png) no-repeat;
	background-size: 100% 100%;
}
.en{
	background: url(../images/us.png) no-repeat;
	background-size: 100% 100%;
}